<h4 ng-if="!items().length"><%= I18n.t(:empty, scope: [:vacancies, :table]) %></h4>
<table class="table" ng-if="items().length">
<thead>
  <tr>
    <th><%= I18n.t(:name, scope: [:activerecord, :attributes, :vacancy]) %></th>
    <th><%= I18n.t(:created_at, scope: [:activerecord, :attributes, :vacancy]) %></th>
    <th><%= I18n.t(:available_to, scope: [:activerecord, :attributes, :vacancy]) %></th>
    <th><%= I18n.t(:salary, scope: [:activerecord, :attributes, :vacancy]) %></th>
    <th><%= I18n.t(:phone, scope: [:activerecord, :attributes, :vacancy]) %></th>
    <th><%= I18n.t(:email, scope: [:activerecord, :attributes, :vacancy]) %></th>
    <th ng-if="editable" class="actions"></th>
  </tr>
  </thead>
  <tbody>
  <tr ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="vacancy in items()">
    <td><a ui-sref="vacancies.show({id:vacancy.id})">{{ vacancy.name }}</a></td>
    <td>{{ vacancy.created_at }}</td>
    <td>{{ vacancy.available_to }}</td>
    <td>{{ vacancy.salary }}</td>
    <td>{{ vacancy.phone }}</td>
    <td>{{ vacancy.email }}</td>
    <td ng-if="editable" class="actions text-right">
      <a class="btn btn-primary btn-sm" ui-sref="vacancies.edit({id:vacancy.id})"><span class="glyphicon glyphicon-pencil"></span></a>
      <a class="btn btn-danger btn-sm" ng-click="delete(vacancy, '<%= I18n.t(:confirmation, scope: [:vacancies, :index]) %>')" ><span class="glyphicon glyphicon-remove"></span></a>
    </td>
  </tr>
  </tbody>
</table>