<div class="row">
  <h1 class="col-sm-6"><%= I18n.t(:title, scope: [:vacancies, :show]) %></h1>

  <div class="page-actions col-sm-6">
    <a class="btn btn-link" ui-sref="vacancies.index"><%=I18n.t(:back, scope: [:vacancies, :show])%></a>
    <a class="btn btn-success" ui-sref="vacancies.edit({id: vacancy.id})"><span class="glyphicon glyphicon-pencil"></span> <%=I18n.t(:edit, scope: [:vacancies, :show])%></a>
  </div>

</div>
<hr>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <table class="table show-attributes">
      <tr>
        <th>
          <%= I18n.t(:name, scope: [:activerecord, :attributes, :vacancy]) %>
        </th>
        <td>
          {{ vacancy.name }}
        </td>
      </tr>
      <tr>
        <th>
          <%= I18n.t(:created_at, scope: [:activerecord, :attributes, :vacancy]) %>
        </th>
        <td>
          {{ vacancy.created_at }}
        </td>
      </tr>
      <tr>
        <th>
          <%= I18n.t(:available_to, scope: [:activerecord, :attributes, :vacancy]) %>
        </th>
        <td>
          {{ vacancy.available_to }}
        </td>
      </tr>
      <tr>
        <th>
          <%= I18n.t(:salary, scope: [:activerecord, :attributes, :vacancy]) %>
        </th>
        <td>
          {{ vacancy.salary }}
        </td>
      </tr>
      <tr>
        <th>
          <%= I18n.t(:phone, scope: [:activerecord, :attributes, :vacancy]) %>
        </th>
        <td>
          {{ vacancy.phone }}
        </td>
      </tr>
      <tr>
        <th>
          <%= I18n.t(:email, scope: [:activerecord, :attributes, :vacancy]) %>
        </th>
        <td>
          {{ vacancy.email }}
        </td>
      </tr>
      <tr>
        <th>
          <%=I18n.t(:skills, scope: [:vacancies, :show])%>
        </th>
        <td>
          <div ui-view="skills_table"></div>
        </td>
      </tr>
    </table>
  </div>
</div>
<h2><%=I18n.t(:title, scope: [:vacancies, :show, :applicants])%></h2>
<hr>
<h3><%=I18n.t(:strict, scope: [:vacancies, :show, :applicants])%></h3>
<div ui-view="strict_applicants_table"></div>

<h3><%=I18n.t(:partial, scope: [:vacancies, :show, :applicants])%></h3>
<div ui-view="partial_applicants_table"></div>
